<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nc2ExIpscanCspCon1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nc2ExIpscanCspCon1.Properties.Settings>
            <setting name="HostBegin" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="HostEnd" serializeAs="String">
                <value>127.0.0.255</value>
            </setting>
            <setting name="Serv" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="FindThread" serializeAs="String">
                <value>100</value>
            </setting>
        </Nc2ExIpscanCspCon1.Properties.Settings>
    </userSettings>
</configuration>